Django==4.2.24
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
channels==4.3.1
daphne==4.2.1
whitenoise==6.11.0
django-cors-headers==4.9.0
requests==2.32.5
python-dotenv==1.1.1
google-auth==2.40.3
google-genai==1.39.1
websockets==15.0.1
